@media only screen and (max-width: 700px) {
	/* Меню */
    label {display: block; cursor: pointer; color: #a7a7a7;}
	.margin{margin: 0 0 10px 0;border-radius: 0;}
    .menu {text-align: center;width: 100%;display: none;}
    .menu a {display: block;position: relative;border-bottom: 2px solid #a7a7a7;margin: 0;background: white;z-index: 100;}
    #toggle:checked + .menu {display: block;}
	.span{ margin: 0;}
	.logotype{display: block;}
	
	/* DIVы для контента */
	.content{margin-left: 0;margin-right: 0;}
	.content-ab{margin-left: 0;margin-right: 0;}
	.content-college{margin-left: 0;margin-right: 0; padding: 1em;}
	
	/* Контейнер на главной */
	.abiturients h4{font-size: 18px;}
	.abiturients p{font-size: 14px;line-height: 1.5;padding: 0.5em;}
	
	/* Подвал */
	.contact{font-size: 14px;margin: 0.2em;margin-bottom: 1em;}
	.contact i{font-size: 2em;text-align: left;}
	
	/* Карточки на главной */
	.card{display: block;position: relative;left: 50%;transform: translate(-50%);width: 15em;margin-left: 0;}
	.block-img{width: 15em;height: 15em; border-radius: 5px 5px 0 0;}
	.block-img img{width: 13em;height: 13em;}
	.content-card{width: 15em; border-radius: 0 0 5px 5px;}
	
	/* Модальные окна */
	.popup{width: 100%;height: 100%;}
	.img-modal{display: none;}
	.text-modal{padding: 1em;}
	.head-modal{position: relative;background: transparent;color: black;top: 0;left: 0;transform: translate(0, 0);box-shadow: none;margin-top: 2em;}
	.popup button{font-size: 14px;}
	
	/* DIV для ноостей */
	.inline{margin-left: 1em;}
	
	/* Видео */
	iframe{width: 100%;height: 20%;margin: 0.5em;}
}