::selection { background: #c9942b; color: white; cursor: pointer; }
::-moz-selection { background: #c9942b; }
::-webkit-selection { background: #c9942b;}
::-webkit-scrollbar{ background: transparent; width: 0.5em; }
::-webkit-scrollbar-thumb{ background: #c9942b; border-radius: 1px; }
body{
	font-family: 'Open Sans', sans-serif;
}
div, a, p, h1, h2, h3, h4, h5, h6, input, li, ul, span{
	box-sizing: border-box;
}

header{
	background: url(../img/background.jpg) no-repeat center top / cover;
}
.container{
	margin: 0 auto;
	padding: 0 10%;
	cursor: default;
}
.logo{
	padding-top: 45px;
	pointer-events: none;
}
.title{
	margin-top: 135px;
	padding-bottom: 200px;
}
.title h1{
	font-weight: 800;
	font-size: 37px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.title p{
	font-weight: 400;
	font-size: 20px;
}
.container h2{
	font-size: 23px;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 120px;
	margin-bottom: 80px;
}
.card{
	width: 330px;
	padding-left: 80px; 
	padding-top: 20px;
	background: url(../img/icon3.png) no-repeat left top;
	background-size: 65px;
	transition: all 0.5s ease;
}
.card h3{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 10px;
}
.card p{
	font-size: 13px;
	font-weight: 400;
}

.card:nth-child(2){
	background: url(../img/icon2.png) no-repeat left top;
	background-size: 65px;
}
.card:nth-child(3){
	background: url(../img/icon1.png) no-repeat left top;
	background-size: 65px;
}
.card__line{
	display: flex;
	justify-content: space-between;
}

.gallery{
	display: flex;
	justify-content: space-between;
	height: auto;
	overflow: hidden;
}
.img{
	position: relative;
	background: #000;
	border-radius: 3px;
}
.img img{
	width: 330px;
	height: auto;
	position: relative;
	border-radius: 3px;
	margin-bottom: -3px;
	transition: all 0.3s ease;
	pointer-events: none;
}
.img i{
	padding: 15px 17px;
	background: #ffc10d;
	color: #000;
	text-decoration: none;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 1;
	transition: all 0.3s ease;
}
.img i:hover{
	background: #c9942b;
	box-shadow: 0px 0px 50px -5px #c9942b;
}
.img:hover i{
	display: block;
}
.img:hover img{
	opacity: 0.5;
}
.btn{
	background: #ffc10d;
	color: #000;
	text-decoration: none;
	padding: 20px 0 17px 0;
	width: 235px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 800;
	margin: 95px 0;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
	border-radius: 3px;
}
.btn:hover{
	background: #c9942b;
	box-shadow: 0px 0px 50px -5px #c9942b;
}

footer{
	background: #000;
	padding: 40px 0;
}
.contacts__btn{
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	font-weight: 400;
	margin-right: 70px;
	padding: 8px 8px 10px 8px;
	border-radius: 3px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
}
.contacts__btn:hover{
	border: 1px solid #fff;
}

.modal{ 
	position: fixed; 
	top: 0; 
	bottom: 0; 
	right: 0; 
	left: 0;
	background: rgba(0,0,0,.8); 
	display: none; 
	z-index: 3;
}

.modal:target{ 
	display: block; 
}
.popup{ 
	height: 75%; 
	width: 65%; 
	position: relative; 
	z-index: 1; 
	box-shadow: 0 0 25px -5px #000; 
	overflow: hidden; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
}
.close{ 
	z-index: 2; 
	float: right; 
	background: #ffc10d;
	color: #000;
	font-weight: 800; 
	font-size: 28px; 
	text-decoration: none; 
	padding: 5px 10px; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	transition: all 0.3s ease; 
}
.close:hover{ 
	background: #c9942b;
	box-shadow: 0px 0px 50px -5px #c9942b; 
}
.popup img{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	pointer-events: none; 
}